* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

*:hover {
    cursor: default;
}

* div:hover,
* ol li:hover {
    cursor: pointer;
}

.randomOptions:active {
    opacity: 0.6;
}

.container {
    width: auto;
}

.headerDiv {
    width: auto;
    background-color: darkcyan;
    color: white;
    text-transform: uppercase;
    padding: 30px;
    box-shadow: 0px 0px 10px black;
}

main {
    margin: 2%;
}

.randomCapitalDiv {
    background-color: darkcyan;
    width: 75%;
    margin: auto;
    margin-top: 27px;
    padding: 30px;
    border-radius: 10px;
    color: white;
    font-weight: 1000;
    font-size: 25px;
    text-transform: uppercase;
    max-width: 500px;
    max-height: 150px;
}

.randomOptions {
    text-align: center;
    color: white;
    font-weight: 1000;
    text-transform: uppercase;
    background-color: darkcyan;
    max-width: 400px;
    margin: auto;
    margin-top: 21px;
    padding: 25px;
    width: 85%;
    border-radius: 10px;
}

.footerDiv {
    background-color: darkcyan;
    width: auto;
    margin-top: 50px;
    box-shadow: 10px 0px 12px black;
}

.footerDiv div {
    display: inline-block;
    background-color: white;
    color: darkcyan;
    padding: 20px;
    width: 200px;
    border-radius: 7px;
    font-weight: bold;
    margin: 25px;
    box-shadow: 0px 0px 10px #474545;
}