* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    outline: none;
    border: none;
}

*:hover {
    cursor: default;
}

body {
    background-image: url("./controller-backdrop.png");
    background-repeat: repeat-x;
    background-position: center;
    background-size: auto;
}

body::before {
    opacity: 0.5;
}

#randomOptionsDiv button:active {
    opacity: 0.6;
}

#container {
    width: auto;
}

#gameOverDiv {
    top: 45%;
    left: 35%;
    right: 35%;
    z-index: 999;
    padding: 12px;
    display: none;
    text-align: center;
    font-size: x-large;
    position: absolute;
    border-radius: 5px;
    background-color: darkcyan;
    box-shadow: 0px 0px 10px #333131;
}

#gameOverHeading {
    margin: 10px;
    color: crimson;
    font-weight: 1000;
}

#gameOverText {
    margin: 18px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}

#gameOverDiv button {
    padding: 10px;
    color: white;
    font-size: 21px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
    background-color: #169e16;
    box-shadow: 0px 0px 5px #686868;
}

#timerSpan {
    padding: 12px;
    background-color: limegreen;
    color: white;
    font-weight: 1000;
    border-radius: 3px;
    position: absolute;
    z-index: 999;
    display: none;
    font-size: 25px;
    margin-left: 40%;
    margin-top: 15px;
}

#headerDiv {
    width: auto;
    background-color: darkcyan;
    color: white;
    text-transform: uppercase;
    padding: 30px;
    box-shadow: 0px 0px 10px black;
    animation-name: slidedown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes slidedown {
    0% {transform: translateY(-100px); opacity: -0.5;}
}

#mainBody {
    margin: 2%;
    animation: appear forwards 0.5s ease-in;
    animation-delay: 5s;
}
@keyframes appear {
    0% {opacity: 0;}
    75% {opacity: 1;}
}

#randomCapitalDiv {
    background-color: indigo;
    width: 75%;
    margin: auto;
    margin-top: 27px;
    padding: 30px;
    border-radius: 10px;
    color: white;
    font-weight: 1000;
    font-size: 25px;
    text-transform: uppercase;
    max-width: 500px;
    max-height: 150px;
    animation-name: slideCapital;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}

#randomOptionsDiv button {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: large;
    color: white;
    font-weight: 1000;
    text-transform: uppercase;
    background-color: darkcyan;
    max-width: 400px;
    margin: auto;
    margin-top: 21px;
    padding: 25px;
    width: 85%;
    border-radius: 10px;
    animation-name: slideCountries;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    cursor: pointer;
}

#footerDiv {
    background-color: darkcyan;
    width: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px -12px 12px #a0a0a0;
    color: white;
    font-weight: bold;
    font-size: large;
    animation-name: scoreTriesBoard;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
@keyframes scoreTriesBoard {
    0% {transform: translateY(150px); opacity: 0;}
}

#footerDiv div {
    display: inline-block;
    background-color: white;
    color: darkcyan;
    padding: 20px;
    width: fit-content;
    border-radius: 7px;
    font-weight: bold;
    margin: 25px;
    box-shadow: 0px 0px 10px #474545;
    margin-left: 5px;
    opacity: 0;
    animation-name: scoreTriesSlide;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
}
@keyframes scoreTriesSlide {
    0% {transform: translateX(-120px); opacity: 0;}
    100% {opacity: 1;}
}