* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

*:hover {
    cursor: default;
}

.randomOptionsDiv div:hover {
    cursor: pointer;
}

.container {
    width: auto;
}

.headerDiv {
    width: auto;
    background-color: darkcyan;
    color: white;
    text-transform: uppercase;
    padding: 4.5%;
    box-shadow: 0px 0px 10px black;
    font-size: 14px;
    animation-name: slidedown;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes slidedown {
    0% {transform: translateY(-100px); opacity: -0.3;}
}

.mainBody {
    margin: 2%;
}

.randomCapitalDiv {
    background-color: indigo;
    width: 75%;
    margin: auto;
    margin-top: 9%;
    padding: 3.5%;
    border-radius: 10px;
    color: white;
    font-weight: 1000;
    font-size: 22.5px;
    text-transform: uppercase;
    max-width: 500px;
    max-height: 150px;
    animation-name: slideCapital;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}
@keyframes slideCapital {
    0% {transform: translateX(-120px); opacity: 0.5;}
}

.randomOptionsDiv div {
    text-align: center;
    color: white;
    font-weight: 1000;
    text-transform: uppercase;
    background-color: darkcyan;
    max-width: 400px;
    margin: auto;
    margin-top: 21px;
    padding: 4%;
    width: 85%;
    border-radius: 10px;
    animation-name: slideCountries;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
@keyframes slideCountries {
    0% {transform: translateY(120px); opacity: 0;}
}

.randomOptionsDiv div:active {
    opacity: 0.6;
}

.footerDiv {
    background-color: darkcyan;
    width: auto;
    padding: 2.5%;
    margin-top: 10%;
    color: white;
    font-weight: bold;
    box-shadow: 10px 0px 12px black;
    animation-name: scoreTriesBoard;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}
@keyframes scoreTriesBoard {
    0% {transform: translateY(150px); opacity: 0;}
}

.footerDiv div {
    display: inline-block;
    background-color: white;
    color: darkcyan;
    padding: 5%;
    border-radius: 7px;
    font-weight: bold;
    margin: 2.5%;
    width: fit-content;
    opacity: 0;
    animation-name: scoreTriesSlide;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 3.5s;
    animation-timing-function: ease-out;
}
@keyframes scoreTriesSlide {
    0% {transform: translateX(-120px); opacity: 0;}
    100% {opacity: 1;}
}