* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    border: none;
    outline: none;
    font-family: 'Rubik', sans-serif;
}

*:hover {
    cursor: default;
}

#container {
    width: auto;
}

#gameOverDiv {
    top: 40%;
    left: 5%;
    right: 5%;
    z-index: 999;
    padding: 12px;
    display: none;
    font-size: x-large;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #7e7c7c;
}

#gameOverHeading {
    margin: 10px;
    color: crimson;
    font-weight: 1000;
}

#gameOverText {
    margin: 18px;
    color: #242424;
    font-weight: 600;
}

#gameOverDiv button {
    padding: 10px;
    color: white;
    font-size: 21px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 2px;
    background-color: #169e16;
    box-shadow: 0px 0px 5px #000000;
    margin: 12px 0 0 0;
}

#timerSpan {
    padding: 12px;
    background-color: limegreen;
    color: white;
    font-weight: 1000;
    border-radius: 3px;
    position: absolute;
    z-index: 999;
    display: none;
    font-size: 25px;
    margin-left: 30%;
    margin-top: 15px;
}

#headerDiv {
    width: auto;
    background-color: darkcyan;
    color: white;
    text-transform: uppercase;
    padding: 4.5%;
    box-shadow: 0px 0px 10px black;
    font-size: 14px;
    animation-name: slidedown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes slidedown {
    0% {transform: translateY(-100px); opacity: -0.3;}
}

#headerDiv h2 {
    font-size: 21px;
}

#mainBody {
    margin: 2%;
}

#randomCapitalDiv {
    background-color: indigo;
    width: 75%;
    margin: auto;
    margin-top: 9%;
    padding: 3.5%;
    border-radius: 10px;
    color: white;
    font-weight: 1000;
    font-size: 22.5px;
    text-transform: uppercase;
    max-width: 500px;
    max-height: 150px;
    animation-name: slideCapital;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}

#randomOptionsDiv button {
    text-align: center;
    color: white;
    font-weight: 1000;
    text-transform: uppercase;
    background-color: darkcyan;
    max-width: 400px;
    margin: auto;
    margin-top: 21px;
    padding: 4%;
    width: 85%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    animation-name: slideCountries;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

#randomOptionsDiv button:active {
    opacity: 0.6;
}

#footerDiv {
    background-color: darkcyan;
    width: auto;
    padding: 2.5%;
    margin-top: 10%;
    color: white;
    font-weight: bold;
    box-shadow: 10px 0px 12px black;
    animation-name: scoreTriesBoard;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
@keyframes scoreTriesBoard {
    0% {transform: translateY(150px); opacity: 0;}
}

#footerDiv div {
    display: inline-block;
    background-color: white;
    color: darkcyan;
    padding: 5%;
    border-radius: 7px;
    font-weight: bold;
    margin: 2.5%;
    width: fit-content;
    opacity: 0;
    animation-name: scoreTriesSlide;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
}
@keyframes scoreTriesSlide {
    0% {transform: translateX(-120px); opacity: 0;}
    100% {opacity: 1;}
}