* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    border: none;
    outline: none;
    font-family: 'Rubik', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url("./controller-backdrop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 645px) {
    #randomCapitalDiv {
        margin: 0.5% auto !important;
    }
}

*:hover {
    cursor: default;
}

#container {
    width: 100vw;
}

#gameOverDiv {
    top: 40%;
    left: 5%;
    right: 5%;
    z-index: 999;
    padding: 12px;
    display: none;
    font-size: x-large;
    position: absolute;
    border-radius: 5px;
    background-color: darkcyan;
    box-shadow: 0px 0px 10px #333131;
}

#gameOverHeading {
    margin: 10px;
    color: crimson;
    font-weight: 1000;
}

#gameOverText {
    margin: 18px;
    color: #ffffff;
    font-weight: 600;
}

#gameOverDiv button {
    padding: 10px;
    color: white;
    font-size: 21px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 2px;
    background-color: #169e16;
    margin: 12px 0 0 0;
}

#timerSpan {
    padding: 12px;
    background-color: limegreen;
    color: white;
    font-weight: 1000;
    border-radius: 3px;
    position: absolute;
    z-index: 999;
    display: none;
    font-size: 25px;
    margin-left: 30%;
    margin-top: 15px;
}

#headerDiv {
    position: inherit;
    top: 0;
    left: 0;
    right: 0;
    background-color: darkcyan;
    color: white;
    text-transform: uppercase;
    padding: 4.5%;
    box-shadow: 0px 0px 10px black;
    font-size: 14px;
    animation-name: slidedown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
@keyframes slidedown {
    0% {transform: translateY(-100px); opacity: -0.3;}
}

#headerDiv h2 {
    font-size: 21px;
}

#mainBody {
    margin: 7% 0 7% 0;
    display: grid;
    grid-template-rows: 15% 1fr;
    animation: appear forwards 0.5s ease-in;
}
@keyframes appear {
    0% {opacity: 0;}
    75% {opacity: 1;}
}

#randomCapitalDiv {
    background-color: indigo;
    width: 75%;
    margin: auto;
    margin: 10% auto;
    padding: 3.5%;
    border-radius: 10px;
    color: white;
    font-weight: 1000;
    font-size: 22.5px;
    text-transform: uppercase;
    max-width: 500px;
    max-height: 150px;
    animation-name: slideCapital forwards 0.8s ease-out;
}

#randomOptionsDiv button {
    text-align: center;
    color: white;
    font-weight: 1000;
    text-transform: uppercase;
    background-color: darkcyan;
    max-width: 400px;
    margin: auto;
    margin-top: 21px;
    padding: 4%;
    width: 85%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 10px;
    animation-name: slideCountries;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

#randomOptionsDiv button:active {
    opacity: 0.6;
}

#footerDiv {
    background-color: darkcyan;
    max-height: 80px;
    color: white;
    padding: 7px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -12px 12px #a0a0a0;
    font-weight: bold;
    animation-name: scoreTriesBoard;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
@keyframes scoreTriesBoard {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }
}

#footerDiv div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: darkcyan;
    padding: 21px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 27px;
    margin: 2.5%;
    width: fit-content;
    max-height: 40px !important;
    opacity: 0;
    animation-name: scoreTriesSlide;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
}
@keyframes scoreTriesSlide {
    0% {transform: translateX(-120px); opacity: 0;}
    100% {opacity: 1;}
}